{% extends "base.html" %}

{% block content %}
<h2>Q9: Average Discount by Credit Card</h2>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Credit Card Type</th>
                <th>Average Discount</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row.credit_card_type }}</td>
                <td>{{ row.avg_discount|floatformat:2 }}%</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

