{% extends "base.html" %}

{% block content %}
<h2>Q7: Revenue & % Change by Quarter</h2>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Quarter</th>
                <th>Net Revenue</th>
                <th>% Change</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row.quarter_number }}</td>
                <td>{{ row.net_revenue|floatformat:2 }}</td>
                <td>
                    {% if row.percent_change %}
                        {{ row.percent_change|floatformat:2 }}%
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


