{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Welcome to Car Deal DB</h1>
    <p>Select a section to view:</p>
    <ul class="list-group">
        <li class="list-group-item"><a href="{% url 'customer_list' %}">Customers</a></li>
        <li class="list-group-item"><a href="{% url 'product_list' %}">Products</a></li>
        <li class="list-group-item"><a href="{% url 'order_list' %}">Orders</a></li>
        <li class="list-group-item"><a href="{% url 'shipper_list' %}">Shippers</a></li>
    </ul>
</div>
{% endblock %}
